.banner {
    height: 100px;
    background-image: url(../images/pattern.jpeg);
    text-align: center;
    margin: auto;
}

#banner-text {
    font-family: Helevitca;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: auto;
    line-height: 100px;
    height: 100px;
    text-align: center;
}

.brushes_title{
    background-color: mediumspringgreen;
    margin: 40px 0;
}

#title_text {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#blue_text{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames_title{
    background-color: lightcoral;
    margin: 40px 0;
}

.paint_title{
    background-color: skyblue;
    margin: 40px 0;
}